# Mac OS
.DS_Store

# JetBrains IDE
.idea/

# Gradle files
build/
.gradle/

# Local configuration file (sdk path, etc, serect keys)
google-services.json
local.properties

# Keystore files
keystore/

# Generate .apk or .aab
release/

# Proguard reports
dead_code.txt
full-r8-config.txt
mapping.txt
seeds.txt