# System
.DS_Store

# JetBrains IDE
.idea/

# Gradle files
.gradle/
build/

# Local configuration file (sdk path, etc, serect keys)
local.properties

# Keystore files
keystore/

# Proguard reports
dead_code.txt
full-r8-config.txt
mapping.txt
seeds.txt